<!DOCTYPE html>
<html>
  <head>
    <title>Gator Answers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% flash.each do |key, value| %>
      <% if key == "alert" %>
        <div class="alert alert-warning">
      <% else %>
        <div class="alert alert-primary">
      <% end %>
        <%= value %></div>
    <% end %>
    </header>
    
    <main>
    <%= yield %>
    </main>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2018 Open Source Club
        <a class="grey-text text-lighten-4 right" href="https://github.com/ufosc/GatorQuestions/">View the Source</a>
        </div>
      </div>
    </footer>
  </body>
</html>
